services:
    mysql:
        image: mysql:9.5
        restart: always
        environment:
            MYSQL_DATABASE: database
            MYSQL_USER: user
            MYSQL_PASSWORD: password
            MYSQL_ROOT_PASSWORD: password
        ports:
            - "3307:3306"
        volumes:
            - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql
